---
import { Image } from "astro:assets";

interface ListItem {
  jobTitle: string;
  companyName: string;
  period: string;
  description: string;
  img: {
    src: string;
    alt: string;
  };
}

interface Props {
  list: ListItem[];
}

const { list } = Astro.props;
---

<ul class="space-y-8" aria-label="Experience List">
  {
    list.map(({ jobTitle, companyName, period, description, img }, index) => (
      <>
        <li class="flex justify-start gap-6">
          <figure class="size-36">
            <Image
              src={img.src}
              alt={img.alt}
              width={200}
              height={200}
              class="aspect-square rounded-xl object-scale-down p-1 ring-1 ring-zinc-200"
            />
          </figure>

          <div>
            <h3 class="mb-3.5 text-lg font-medium leading-none">{jobTitle}</h3>

            <p class="mb-1 text-xs leading-none tracking-wide">{companyName}</p>

            <p class="text-xs tracking-wide">{period}</p>

            <p class="mt-2.5 text-sm">{description}</p>
          </div>
        </li>

        {index !== list.length - 1 && <hr class="border-zinc-200" />}
      </>
    ))
  }
</ul>
