---
type ListItem = {
  title: string;
  yearStart?: number;
  yearEnd: number;
  img: {
    src: string;
    alt: string;
  };
};

interface Props {
  list: ListItem[];
}

const { list } = Astro.props;
---

<ul
  class="grid grid-cols-[repeat(auto-fit,minmax(18.75rem,1fr))] gap-x-6 gap-y-10"
>
  {
    list.map(({ title, yearStart, yearEnd, img }) => (
      <li>
        <figure class="overflow-hidden rounded-xl shadow-sm ring-1 ring-zinc-200">
          <img
            src={img.src}
            alt={img.alt}
            class="aspect-[4.475_/_3] w-full object-cover"
          />
        </figure>

        <h3 class="mb-2.5 mt-5 text-sm font-normal leading-none">{title}</h3>

        <p class="text-xs leading-none text-zinc-500">
          {yearStart && <span>{yearStart} - </span>}
          <span>{yearEnd}</span>
        </p>
      </li>
    ))
  }
</ul>
