---
import SimpleContactMeSection from "@/components/contact/simple-contact-me-section.astro";
import ProjectHeader from "@/components/headers/project-header.astro";
import MoreProjectsList from "@/components/lists/more-projects-list.astro";
import GoBackSection from "@/components/nav/go-back-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";

interface Props {
  entry: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.id },
    props: {
      entry: project,
    },
  }));
}

const { entry } = Astro.props;
const project = entry.data;
const { Content } = await render(entry);

const dateText = [project.yearStart, project.yearEnd]
  .filter(Boolean)
  .join(" - ");
---

<MainLayout title={project.title} description={project.tags.join(", ")}>
  <main>
    <GoBackSection href="/projects" />

    <ProjectHeader
      title={project.title}
      date={dateText}
      categories={project.tags}
      client={project.client}
      url={project.url}
    />

    <div id="project-content">
      <Content />
    </div>

    <MoreProjectsList />

    <SimpleContactMeSection />
  </main>
</MainLayout>

<style is:global>
  #project-content h2 {
    @apply mt-10;
  }

  #project-content p {
    @apply mt-5;
  }
</style>
